{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h1>Sign Up</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <label for="name">Name</label>
    {{ form.name(id='name') }}

    <label for="username">Username</label>
    {{ form.username(id='username') }}

    <label for="email">Email</label>
    {{ form.email(id='email') }}

    <label for="phone_number">Phone Number</label>
    {{ form.phone_number(id='phone_number') }}

    <label for="password">Password</label>
    {{ form.password(id='password') }}

    {{ form.submit() }}
  </form>
{% endblock %}